.Achivement {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 25px;
}
.achivement-list-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 20px;
}
.achievements-card {
    width: 100%;
    padding: 15px 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.achive-image {
    width: 100px;
    height: 100px;
    border-radius: 45px;
    margin-right: 10px;
}
.achivement-details-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 12px;
}

@media screen and (max-width: 768px) {
    .Achivement {
        margin-bottom: 10px;
    }
    .achivement-list-main  {
        padding: 10px;
    }
    .achievements-card {
        padding: 10px;
        flex-direction: column;
    }
    .achive-image {
        margin: 10px;
    }
}