.profileMain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

@media screen and (max-width: 768px) {
    .profileMain {
        flex-direction: column;
        padding: 0px;
    }
}

@media screen and (max-width: 912px) {
    .profileMain {
        flex-direction: column;
        padding: 0px;
    }
}