.secondcard {
    width: 68%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
@media screen and (max-width: 768px) {
    .secondcard {
        width: 100%;
        padding: 0px;
    }
}
@media screen and (max-width: 912px) {
    .secondcard {
        width: 100%;
    }
}