.experience-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 2px solid #ffdd2e;
    padding: 0px 10px;
}